services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    image: ptcgp-dev
    container_name: ptcgp-dev-con
    ports:
      - "3000:3000"
    volumes:
      # Mount source code for hot reload
      - .:/app
      - node_modules:/app/node_modules
    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true
    env_file:
      - .env.local
    command: yarn dev
    stdin_open: true
    tty: true

volumes:
  node_modules:
