services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: ptcgp-prod
    container_name: ptcgp-prod-con
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    env_file:
      - .env.local
    restart: unless-stopped
    command: ["node", "server.js"]
